<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>


    <!--Creating the NavBar that will be passed to the Views-->
    <div class="bg-black text-white p-2">
        <!--For my other new bootstrap attribute I added a small secondary text that was underlined to go beside the website title-->
        <h1> <span class="navbar-brand ml-2">Bookstore <small class="text-decoration-underline">By: Trey Jackson</small></span></h1>
    </div>

    <div class="navbar navbar-inverse" role="navigation">
     <div class="pull-right">
            <vc:cart-summary></vc:cart-summary>
        </div>
    </div>



    <div class="row m-1 p-1">

        <!--Viewing the data from TypesViewComponent-->
        <div id="types" class="col-3">
            <vc:types></vc:types>
        </div>

        <div class="col-9">
            <div>
                @RenderBody()
            </div>

        </div>
    </div>


</body>
</html>
