<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
    <!--Creating the NavBar that will be passed to the Views-->
    <div class="bg-black text-white p-2">
        <span class="navbar-brand ml-2">Trey's Bookstore</span>
    </div>
        <div class="col-9">
            @RenderBody()
        </div>
</body>
</html>
