@{

}

@model BooksViewModel
<!--StyleSheet-->
<link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />

<h1>Book List</h1>

<!--Function to display the "Books" information passed in through the model-->
@foreach (Book b in Model.Books)
{

    <partial name="ProjectSummary"  model="b"/>
}


<!--Uses the tag helpers made in the PaginationTagHelper file to dynamically create and style the buttons for the website-->
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true" 
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

