<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="bg-black text-white p-2">
        <h1> <span class="navbar-brand ml-2">Bookstore Checkout</span></h1>
    </div>

    <div class="m-1 p-1">
        @RenderBody()
    </div>

    <br />
    <blockquote class="blockquote">
        <p>Sleep is good, he said, and books are better.</p>
        <footer class="blockquote-footer">George R. R. Martin <cite title="Source Title">author of "A Song of Ice and Fire"</cite></footer>
    </blockquote>
</body>

   

</html>
