@page
@model Bookstore_rtj34.Pages.CheckoutCompleteModel
@{
}
<h2 class="text-center">Your order has been completed! Thanks, and happy reading!</h2>
<a class="btn btn-primary" asp-controller="Home">Return Home</a>